<h1>Blackjack!</h1>
<h4>Good luck <%= session[:username] %>!</h4>

<% if @player_busted %>
  <h3>Sorry, you busted! Better luck next time!</h3>
<% end %>

Dealer cards are:
<ul>
  <% session[:dealer_cards].each do |card| %>
  <li><%= card.to_s %></li>
  <% end %>
</ul>
Dealer total is: <%= ( (calculate_total(session[:dealer_cards])) - (hidden_card)).to_s %>

<br/>
<br/>

Your current balance is $<%= session[:bank] %>
<br/>

Your cards are:
<ul>
<% session[:player_cards].each do |card| %>
  <li><%= card.to_s %></li>
<% end %>
</ul>
Your total is: <%= (calculate_total(session[:player_cards])).to_s %>
<br/>

<form action='/hit' method='post'>
  <input value='Hit' type='submit' class='btn btn-danger'/>
</form>
<form action='/stay' method='post'>
  <input value='Stay' type='submit' class='btn btn-success'/>
</form>
