<h1>Blackjack!</h1>

<!-- Status bar alerts and instructions -->
<% if @player_busted %>
  <div class="alert alert-error"><strong>Status:</strong> Sorry <strong><%= session[:username] %></strong>, you busted!</div>
<% elsif @player_turn %>
  <div class="alert alert-success"><strong>Status:</strong> Please select <strong>Hit</strong> or <strong>Stay</strong> below. Good luck <strong><%= session[:username] %></strong>!</div>
<% elsif calculate_total(session[:dealer_cards]) > BLACKJACK_AMOUNT %>
  <div class="alert alert-success"><strong>Status:</strong> Dealer busted! You win, <strong><%= session[:username] %></strong>!</div>
<% elsif calculate_total(session[:dealer_cards]) < DEALER_MIN %>
  <div class="alert alert-success"><strong>Status:</strong> Dealer has less than 17, <strong><%= session[:username] %></strong>. Click button below for next dealer card.</div>
<% elsif @compare %>
  <% if calculate_total(session[:player_cards]) > calculate_total(session[:dealer_cards]) %>
    <div class="alert alert-success"><strong>Status:</strong> You have the higher hand! You win, <strong><%= session[:username] %></strong>!</div>
  <% elsif calculate_total(session[:player_cards]) < calculate_total(session[:dealer_cards]) %>
    <div class="alert alert-error"><strong>Status:</strong> Dealer has the higher hand! Sorry <strong><%= session[:username] %></strong>, you lose!</div>
  <% else %>
    <div class="alert alert-success"><strong>Status:</strong> It's a tie game, <strong><%= session[:username] %></strong>! Imagine that!</div>
  <% end %>
<% else %>
  <div class="alert alert-error"><strong>Status:</strong> Something screwy has happened with the calculations, <strong><%= session[:username] %></strong>. Check that code again!</div>
<% end %>

<!-- Toggle for selection to play again or not -->
<% if @selection %>
  <h4>Would you like to play again?</h4>
  <form id="replay_form" action='/replay' method='post'> 
  <button type="submit" class="btn"><i class="icon-ok"></i> Yes </button> or
</form>
<form id="stay_form" action='/exit' method='post'>
  <button type="submit" class="btn"><i class="icon-remove"></i> No </button>
</form>
<br/>
<br/>
<br/>
<% end %>

<!-- Dealer card display area -->
Dealer cards are:
<ul>
  <% if @player_turn %>
    <% card = session[:dealer_cards][0] %>
    <li><%= card.to_s %></li>
    <li>[hidden card]</li>
  <% else %>
    <% session[:dealer_cards].each do |card| %>
    <li><%= card.to_s %></li>
    <% end %>
  <% end %>
</ul>

<!-- Dealer total display area -->
<% if @player_turn %>
  Dealer total is: <strong><%= ( (calculate_total(session[:dealer_cards])) - (hidden_card)).to_s %></strong>
<% else %>
  Dealer total is: <strong><%= calculate_total(session[:dealer_cards]).to_s %></strong>
<% end %>

<br/>

<!-- Dealer next card button code -->
<% if !@player_busted %>
  <% if !@player_turn && (calculate_total(session[:dealer_cards]) < DEALER_MIN) %>
  <form action='/dealer_hit' method='post'> 
    <button type='submit' class='btn btn-primary'>Click for next dealer card <i class="icon-chevron-right icon-white"></i></button>
  </form> 
  <% end %>
<% end %>
<br/>

<!-- Player card display area -->
Your cards are:
<ul>
<% session[:player_cards].each do |card| %>
  <li><%= card.to_s %></li>
<% end %>
</ul>

<!-- Player total display area -->
Your total is: <strong><%= (calculate_total(session[:player_cards])).to_s %></strong>
<br/>
<br/>

<!-- Display for Hit and Stay buttons -->
<% if @player_turn %>
  <p>Your options are to:</p>
  <form id="hit_form" action='/hit' method='post'> 
    <button type="submit" class="btn btn-danger"><i class="icon-hand-down icon-white"></i> Hit </button> or
  </form>
  <form id="stay_form" action='/stay' method='post'>
    <button type="submit" class="btn btn-success"><i class="icon-thumbs-up icon-white"></i> Stay </button>
  </form>

<% else %>
  <p>Player turn is finished</p>
  <form id="hit_form"> 
    <button type="button" class="btn btn-danger disabled" disabled="disabled"><i class="icon-hand-down icon-white"></i> Hit </button> or
  </form>
  <form id="stay_form">
    <button type="button" class="btn btn-success disabled" disabled="disabled"><i class="icon-thumbs-up icon-white"></i> Stay </button>
  </form>
<% end %>